
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sock Shop</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=800, initial-scale=1">
</head>

<body>
  <div class="container">

    <!-- The navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
           <a class="navbar-brand" rel="home" href="home" title="SockDirect" style="height:100px">
			<img style="width:100px; margin:-15px; padding: 3px 3px" src="../logo.png">
			</a>
        </div>
			<ul class="nav navbar-nav" style="height:100px">
			  <li><a href="home" style="padding-top:40px; padding-bottom:40px">Home</a></li>
			  <li class="active"><a href="about" style="padding-top:40px; padding-bottom:40px">About</a></li>
			  <li><a href="contact" style="padding-top:40px; padding-bottom:40px">Contact</a></li>
			  <li><a href="locator" style="padding-top:40px; padding-bottom:40px">Stores</a></li>
			  <li><a href="myaccount" style="padding-top:40px; padding-bottom:40px">My Account</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right" style="height:100px">
			  <li><a href="login" style="padding-top:40px; padding-bottom:40px; margin-right:10px">Login</a></li>
			</ul>
			<form class="navbar-form navbar-right" style="padding-top:25px; padding-bottom:25px">
			<div class="form-group">
			  <input type="text" class="form-control" placeholder="Search">
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </nav>

    <div class="col-md-12 container">
      <div class="container col-md-5" style="padding-top:50px">
        <h2>Our Goal</h3>
        <p>
          As Britain`s first boutique sock shop we aim to provide high quality products without compromising on price. We also aim to provide a customer service that you won`t find anywhere else. We hope that every customer leaves with a once-in-a-life time pair of socks!
        </p>
      </div>
      <div class="container col-md-7">
		<img src="../socks/about/about1.png">
      </div>
    </div>

    <div class="col-md-12 container">
      <div class="container col-md-7">
        <img src="../socks/about/about2.png">
      </div>
      <div class="container col-md-5" style="padding-top:50px">
        <h2>What We Do</h3>
        <p>
          All of our manufacturers go through intesive checks to make sure that all of their materials are ethically sourced. This process means that we can call ourselves the first fair trade sock shop in the world. We believe that everyone in the world has the right to a pair of socks so we have intiatives to make this a reality!
        </p>
      </div>
    </div>

    <!-- The footer -->
    <div class="col-md-12" style="background-color:grey; padding-top:20px;">
      <ul class="col-md-4" style="text-align:center; list-style-type: none;">
        <li>Company</li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Careers</a></li>
      </ul>
      <ul class="col-md-4" style="text-align:center; list-style-type: none;">
        <li>More</li>
        <li><a href="#">Acessibility</a></li>
        <li><a href="#">Legal</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Terms of Use</a></li>
      </ul>
      <ul class="col-md-4" style="text-align:center; list-style-type: none;">
        <li>Login</li>
        <li><a href="#">Staff</a></li>
        <li><a href="#">Manufacturer</a></li>
        <li><a href="#">Customer</a></li>
      </ul>
    </div>

  </div>
</body>
</html>

</html>
