<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sock Shop</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=800, initial-scale=1">
</head>

<body>
  <div class="container">

    <!-- The navbar -->
    <nav class="nav navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Sock Shop</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Stores</a></li>
          <li><a href="#">My Account</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Login</a></li>
        </ul>
        <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </nav>

    <!-- Options tab -->
    <div class="container col-md-3" style="padding-top:60px; padding-bottom:60px;">
      <div class="container col-md-12" style="padding-top:10px; padding-bottom: 10px; font-size:120%; background-color:#d3d3d3;">
        <p>View Placed Orders</p>
      </div>
      <div class="container col-md-12" style="padding-top:10px; padding-bottom: 10px; font-size:120%; background-color:#d3d3d3;">
        <p>Check Stock</p>
      </div>
      <div class="container col-md-12" style="padding-top:10px; padding-bottom: 10px; font-size:120%; background-color:#d3d3d3;">
        <p>Order New Stock</p>
      </div>
      <div class="container col-md-12" style="padding-top:10px; padding-bottom: 10px; font-size:120%; background-color:#d3d3d3;">
        <p>Recieve Stock</p>
      </div>
      <div class="container col-md-12" style="padding-top:10px; padding-bottom: 10px; font-size:120%; background-color:#d3d3d3;">
        <p>Edit Account</p>
      </div>
      <div class="container col-md-12" style="padding-top:10px; padding-bottom: 10px; font-size:120%; background-color:gray;">
        <p>Edit Products</p>
      </div>
      <div class="container col-md-12" style="padding-top:10px; padding-bottom: 10px; font-size:120%; background-color:#d3d3d3;">
        <p>Edit Accounts</p>
      </div>
      <div class="container col-md-12" style="padding-top:10px; padding-bottom: 10px; font-size:120%; background-color:#d3d3d3;">
        <p>Edit Manufacturers</p>
      </div>
    </div>

    <!-- Check Stock -->
    <div class="container col-md-9" style="background-color:#d3d3d3; height:470px; padding-top:20px; text-align:center;">
      <div class="container col-md-6">
        <label for="productname">Product Name:</label>
        <input type="text" class="form-control" id="productname" placeholder="Enter your product name" name="productname">
        <label for="price" style="padding-top:20px">Price:</label>
        <input type="text" class="form-control" id="price" placeholder="Enter the price" name="price">
        <label for="desc" style="padding-top:20px">Description:</label>
        <textarea class="form-control" rows="5" id="desc" placeholder="Enter the product description" name="desc"></textarea>
        <label for="file" style="padding-top:20px">Upload (5) Images:</label>
        <input id="input-b1" name="file" type="file" class="file form-control" multiple>
      </div>
      <div class="container col-md-6">
        <div class="container col-md-12">
          <label for="sizes">Sizes:</label>
        </div>
        <div class="container col-md-10">
          <input type="text" class="form-control" id="sizes" placeholder="Enter your size to add" name="sizes">
        </div>
        <div class="container col-md-2">
          <button type="button" class="btn btn-primary btn-md" id="add">Add</button>
        </div>
        <div class="container col-md-12" style="padding-top:20px;">
          <label for="colors">Colours:</label>
        </div>
        <div class="container col-md-10">
          <input type="text" class="form-control" id="colors" placeholder="Enter your color to add" name="colors">
        </div>
        <div class="container col-md-2">
          <button type="button" class="btn btn-primary btn-md" id="add">Add</button>
        </div>
        <div class="container col-md-12" style="padding-top:20px;">
          <label for="sizes">Sizes:</label>
        </div>
        <div class="container col-md-10">
          <select class="form-control" id="sel1">
            <option>Small</option>
            <option>Medium</option>
          </select>
        </div>
        <div class="container col-md-2">
          <button type="button" class="btn btn-primary btn-md" id="remove">Del</button>
        </div>
        <div class="container col-md-12" style="padding-top:20px;">
          <label for="colors">Colours:</label>
        </div>
        <div class="container col-md-10">
          <select class="form-control" id="sel1">
            <option>Black</option>
            <option>Blue</option>
          </select>
        </div>
        <div class="container col-md-2">
          <button type="button" class="btn btn-primary btn-md" id="add">Add</button>
        </div>
      </div>
      <div class="container col-md-12" style="text-align: center">
        <button type="button" class="btn btn-primary btn-md" id="change" style="margin: auto; width:20%; margin-top: 15px;">Submit Changes</button>
      </div>
    </div>

    <!-- Footer -->
    <div class="col-md-12" style="background-color:grey; padding-top:20px;">
      <ul class="col-md-4" style="text-align:center; list-style-type: none;">
        <li>Company</li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Careers</a></li>
      </ul>
      <ul class="col-md-4" style="text-align:center; list-style-type: none;">
        <li>More</li>
        <li><a href="#">Acessibility</a></li>
        <li><a href="#">Legal</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Terms of Use</a></li>
      </ul>
      <ul class="col-md-4" style="text-align:center; list-style-type: none;">
        <li>Login</li>
        <li><a href="#">Staff</a></li>
        <li><a href="#">Manufacturer</a></li>
        <li><a href="#">Customer</a></li>
      </ul>
    </div>

    </div>
    </body>
    </html>
