<!--

Notes for the php dev.

All you need to do is call 'populatePage' with the appropriate params
The current populate page is just an example and is what will change
-->



<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sock Shop</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=800, initial-scale=1">

  <script type="text/javascript">
     $(document).ready(function() {

       function populatePage(id,name,description,materials,sizes,colors,price){
         for(var i = 0;i<sizes.length;i++){
           var current = sizes[i]
           $('#sizes').append("<option value=\""+current+"\">"+current+"</option>")
         }
         for(var i = 0;i<colors.length;i++){
           var current = colors[i]
           $('#colors').append("<option value=\""+current+"\">"+current+"</option>")
         }
         $('#productname').text(name);
         $('#description').text(description)
         $('#materials').text(materials)
         var imageselector = [
           "<row>",
            "<img src=\"../productPics/"+id+"/1.jpg\" id=\"main-img\" class=\"col-md-12 img-thumbnail\" style = \"padding:50px; width:100%\">",
           "</row>",
           "<row>",
             "<img src=\"../productPics/"+id+"/1.jpg\" id=\"img1\" class=\"col-md-3 img-thumbnail\">",
             "<img src=\"../productPics/"+id+"/2.jpg\" id=\"img2\" class=\"col-md-3 img-thumbnail\">",
             "<img src=\"../productPics/"+id+"/3.jpg\" id=\"img3\" class=\"col-md-3 img-thumbnail\">",
             "<img src=\"../productPics/"+id+"/4.jpg\" id=\"img4\" class=\"col-md-3 img-thumbnail\">",
           "</row>",
          ]
         $('#photoselector').append(imageselector.join(""))
         //Image press functions to change the main image
         $('#img1').click(function() {
            $("#main-img").attr("src","../productPics/"+id+"/1.jpg");
         });
         $('#img2').click(function() {
            $("#main-img").attr("src","../productPics/"+id+"/2.jpg");
         });
         $('#img3').click(function() {
            $("#main-img").attr("src","../productPics/"+id+"/3.jpg");
         });
         $('#img4').click(function() {
            $("#main-img").attr("src","../productPics/"+id+"/4.jpg");
         });

         $('#price').val("£"+price);

         $("#quantity").on('change keyup paste', function () {
           var currentPrice = price * $('#quantity').val();
           $('#price').val("£"+currentPrice);
         });


       }


       var description = "This is where the desctiption of the socks in the sock shop will go. They should all be roughly the same length. The descirption will be pulled from the database in the main product"
       var materials = "We didnt store this so maybe we shouldnt have it? Just thought it was a nice thought? We could get away with this beig static maybe?"
       populatePage(1,"Smelly Socks",description,materials,["Small","Medium"],["Black","Blue"],12)
    });
  </script>

</head>
<body>
  <div class="container">

    <!-- The navbar -->
    <nav class="nav navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Sock Shop</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Stores</a></li>
          <li><a href="#">My Account</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Login</a></li>
        </ul>
        <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </nav>

    <row>

      <!-- Div for the photo selector -->
      <div class="container col-md-6" style="background-color:#d3d3d3; height:680px;" id="photoselector">

      </div>

      <!-- div for the product description area-->
      <div class="container col-md-6" style="background-color:#d3d3d3; height:680px;">

        <row>
          <h2 class="col-md-12" style="text-align: center;" id="productname">Product Name</h2>
        </row>

        <row>
          <h3 class="col-md-6" style="text-align: center;">Description</h3>
          <h3 class="col-md-6" style="text-align: center;">Materials</h3>
        </row>

        <row>
          <p class="col-md-6" style="height:120px;" id="description">

          <p class="col-md-6" style="height:120px;" id="materials">
          </p>
        </row>

        <row>
          <div class="container col-md-6">
            <p class="col-md-3" style="text-align:right; font-size:120%; padding-top:7px;">Size:</p>
            <div class="container col-md-9">
              <select class="form-control" id="sizes">

              </select>
            </div>
          </div>
          <div class="container col-md-6">
            <p class="col-md-3" style="text-align:right; font-size:120%; padding-top:7px;">Color:</p>
            <div class="container col-md-9">
              <select class="form-control" id="colors">

              </select>
            </div>
          </div>
        </row>
        <row>
          <div class="container col-md-6" style="padding-top:20px">
            <p class="col-md-4" style="text-align:right; font-size:120%; padding-top:7px;">Quantity:</p>
            <div class="col-md-8">
              <input type="text" value="1" class="form-control" id="quantity">
            </div>
          </div>
        </row>
        <row>
          <div class="container col-md-6" style="padding-top:20px">
            <p class="col-md-4" style="text-align:right; font-size:120%; padding-top:7px;">Price:</p>
            <div class="col-md-8">
              <input type="text" value="1" class="form-control" id="price" readonly>
            </div>
          </div>
        </row>
        <row>
          <div class="col-md-12" style="margin-top:20px; text-align:center;">
            <button type="button" class="btn btn-primary btn-md" style="width:60%;">Add to Basket</button>
          </div>
        </row>
        <row>
          <p class="col-md-12" style="text-align:center; font-size:120%; padding-top:15px">Sizes:</p>
        </row>
        <row>
          <div class="col-md-12" style="text-align:center;">
            <img src="../sizechart.jpg" style="width:80%">
          </div>
        </div>


      <!-- Footer -->
      <div class="col-md-12" style="background-color:grey; padding-top:20px;">
        <ul class="col-md-4" style="text-align:center; list-style-type: none;">
          <li>Company</li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Careers</a></li>
        </ul>
        <ul class="col-md-4" style="text-align:center; list-style-type: none;">
          <li>More</li>
          <li><a href="#">Acessibility</a></li>
          <li><a href="#">Legal</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Terms of Use</a></li>
        </ul>
        <ul class="col-md-4" style="text-align:center; list-style-type: none;">
          <li>Login</li>
          <li><a href="#">Staff</a></li>
          <li><a href="#">Manufacturer</a></li>
          <li><a href="#">Customer</a></li>
        </ul>
      </div>

  </div>
</body>
</html>
